.columns_border {
  text-align: center;
  margin: 30px;
  height: 100%;

  @media (max-width: 1500px) {
    margin: auto;
  }
}

.test {
  border: 1px solid red;
}

.year_yello_btn {
  outline: none !important;
  border: none;
  background: #ff8000;
  color: #e7e4de;
  border-radius: 20px;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}

.year_btn {
  outline: none !important;
  border: none;
  background: #e7e4de;
  color: #ff8000;
  border-radius: 20px;
  margin: 1rem 1rem;
  padding: 1rem 1rem;

  &:hover {
    color: #e7e4de;
    background: #ff8000;
  }
}
